@import "../../styles/common.module.scss";

.taskSection {
  @include flex(column, 2rem, $text-align: center);
  @extend %box;
  @extend %scroll;

  height: auto;
  width: 100%;
  overflow: hidden scroll;
}

.list {
  @include flex(column, 1rem, space-between);
}

.done {
  @include linear-shadow($color-done);
}

.progress {
  @include linear-shadow($color-progress);
}

.notStarted {
  @include linear-shadow($color-notStarted);
}

