@import "../../styles/mixins.module.scss";
@import "../../styles/consts.module.scss";
@import "../../styles/placeholders.module.scss";

.taskSection {
  @include flex(column, 2rem);
  @extend %box;
  @extend %scroll;

  height: auto;
  width: 100%;
  overflow: hidden scroll;

  padding: 3rem;
}

.list {
  @include flex(column, 2rem, space-between);
  list-style-type: none;
  padding: 0;
}

.done {
  @include linear-shadow($color-done);
}

.progress {
  @include linear-shadow($color-progress);
}

.notStarted {
  @include linear-shadow($color-notStarted);
}

