@import "../../styles/consts.module.scss";
@import "../../styles/placeholders.module.scss";

.input {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;

  border-radius: 5px;
  border: 1px solid transparent;
  background-color: transparent;

  font-size: 2rem;
  color: $color-secondary-light;

  @extend %scroll;
  resize: none;

  &:focus-visible {
    outline: 1px solid $color-main-dark;
    border-color: $color-secondary-dark;
    padding-left: 1rem;
  }
}

.large {
  font-size: 3rem;
  font-weight: 600;
}

.dark {
  color: $color-main-dark;
}
