@import "../../styles/consts.module.scss";

.button {
  padding: 1rem;
  border-radius: 8px;
  align-items: center;

  cursor: pointer;

  &.short {
    display: flex;

    &:hover {
      border: 1px solid #ffffff87;
    }
  }

  &.wide {
    width: 100%;
    height: auto;

    &:hover {
      background-color: #ffffff42;
      box-shadow: -4px 17px 18px rgba(0, 0, 0, 0.03);
    }
  }

  &.light {
    background-color: $color-main-light;
  }

  &.dark {
    background-color: $color-main-dark;
  }

  &.unset {
    background-color: transparent;
    border: 1px dotted $color-secondary-dark;
    transition: all 0.3s ease-in-out;
  }
}

