@import "../../styles/consts.module.scss";
@import "../../styles/mixins.module.scss";

.label {
  @include grid(1fr 10fr, 1fr, 1rem, center);
  font-weight: 600;
}

.select,
.option {
  color: inherit;
  font-size: inherit;
  background-color: inherit;

  cursor: pointer;
  background-color: $color-main-dark;
}

.select {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

