@import "../../styles/consts.module.scss";
@import "../../styles/mixins.module.scss";

.label {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 1rem;
  align-items: center;

  font-weight: 600;
  background-color: $color-main-dark;
}

.select,
.option {
  color: inherit;
  font-size: inherit;
  background-color: inherit;
}

.select {
  border-radius: 5px;
  padding: 1rem;

  width: 100%;
}

