@import "../../styles/common.module.scss";

.background {
  @include flex(row, 2rem, center, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;

  &.opened {
    cursor: pointer;
  }
}

.wrapper {
  @include flex(column, 0, space-between);
  @extend %box;

  width: 50vw;
  height: 80vh;

  background-color: $color-main-dark;

  &.closed {
    width: 30rem;
    height: 16rem;
    cursor: pointer;
  }

  &.opened {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
}

.description {
  color: $color-secondary-dark;
  font-size: 1.2rem;
}

.info,
.date {
  &.closed {
    @include flex(row, 1rem, space-between);
    width: 100%;
    font-size: 1rem;
  }
}

.info {
  flex-direction: column;
}

.priority {
  color: red;
}

.hidden {
  display: none;
}

.done {
  background-color: $color-done;
}

.progress {
  background-color: $color-progress;
}

.notStarted {
  background-color: $color-notStarted;
}

