@import "../../styles/consts.module.scss";
@import "../../styles/mixins.module.scss";

.form__wrapper {
  width: 100%;
  background-color: transparent;

  &.labeled {
    @include grid(8rem minmax(8rem, auto), 1fr, 1rem, center);
  }
}

.form__label {
  font-weight: 600;
}

