@import "./styles/consts.module.scss";
@import "./styles/mixins.module.scss";
@import "./styles/placeholders.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $color-main-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  box-sizing: border-box;
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

/** PRIORITY */
.high {
  color: red;
}

.medium {
  color: yellow;
}

.low {
  color: green;
}

/** STATUS */
.done {
  color: $color-done;
}

.progress {
  color: $color-progress;
}

.notStarted {
  color: $color-notStarted;
}
